# Theory Questions

1.  What are data structures, and why are they important.
  *   **Data Structures** are tools through which we can organize, store and access the data. They provide an efficient way to do this. By choosing right data structure we cnan optimize our sorting, searching and memory.

2. Explain the difference between mutable and immutable data types with examples
  *   **Mutable datatypes** are those which can be modify or change. Example: list,set, dictionary.
  *   **Immutable datatypes** are those which cannot be modify or change. Example: tuple, string.

3.  What are the main differences between lists and tuples in Python.
    * The main difference between lists and tuple is that the list can be modify after creation but tuple cannot be modify.

4. Describe how dictionaries store data.
    * **Dictionaries** stores data in the form of key value pair, where key need to be unique. It is ordered after 3.6 version and before is unordered.

5. Why might you use a set instead of a list in Python.
    * We use **set** inplace of list when we need that the element cannot be repeated and also unique.

6. What is a string in Python, and how is it different from a list.
    * **String** is the collection of characters. String cannot be modify but list can. List can contain any datatype of value but value in string is always string.

7. How do tuples ensure data integrity in Python
    * **Tuples** ensure data integrity as it cannot be modified after creation.

8. What is a hash table, and how does it relate to dictionaries in Python.
    * **Hash Table** is also known as hashmap or dictionaries, in which data is stored as key value, the key is map with its value with the help of hash function.

9.  Can lists contain different data types in Python.
    * **Yes**, list can store different types of data.

10. Explain why strings are immutable in Python.
    * To secure data and integrity in language, so that it cannot be modify. Therefore strings are immutable.

11. What advantages do dictionaries offer over lists for certain tasks
    * Dictionary offers fast retrieval than the list. when we need to find the data on the basis of key rather than key.

12. How do sets handle duplicate values in Python.
    * By ignoring the value if it is already exist in the set.

13.  Describe a scenario where using a tuple would be preferable over a list.
    *

14. How does the “in” keyword work differently for lists and dictionaries
    * **"in"** keyword in list check the specific value and in dictionary it check teh specific key.

15.  Can you modify the elements of a tuple? Explain why or why not
    * We cannot modify the tuple as it hold the property of immutability.

16. What is a nested dictionary, and give an example of its use case.
    * **Nested dictionary is the dictionary where values are again in dictionary.** We can use dictionary inside the dictionary when we have a key as "address" and the value of address is in the form of dictionary like street,state,district, pincode.

17. Describe the time complexity of accessing elements in a dictionary.
    * **Time complexity** if accessing and element in dictionary is O(1).

18.  In what situations are lists preferred over dictionaries.
    * When we need to access the data on the basis of index rather than key, and  to implement stack and queue data structure implementation.

19. Why are dictionaries considered unordered, and how does that affect data retrieval.
    * **Dictionary consider** as unordered because it implement the hashtable, due ti which we cannot predict the in which order the data is inserted or fetched. But **after 3.6** it maintian the order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    * List retreive data on the basis of index and in the particular order we can predict
    * Dictionary retreive data on the basis of key.

# Practical Question

In [ ]:
# 1. Write a code to create a string with your name and print it.

name=input("enter the name ")
print(f"{name}")

enter the name yogesh
yogesh

In [ ]:
# 2. Write a code to find the length of the string "Hello World".

string="Hello World"
print(f"length of string is : {len(string)}")

length of string is : 11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

data="Python Programming"
print(f"First 3 character are : {data[:3]}")

First 3 character are : Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.

word="hello"
print(word.upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

string1="I like apple"
print(string1.replace("apple","orange"))

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

num=[i for i in range(1,6)]
print(num)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

lst=[1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

lst1=[1,2,3,4,5]
lst1.remove(3)
print(lst1)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

lst2=['a','b','c','d']
print(lst2[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

lst3=[10,20,30,40,50]
lst3.reverse()
print(lst3)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tpl=(100,200,300)
print(tpl)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tpl1=('red','green','blue','yellow')
print(tpl1[1:])

('green', 'blue', 'yellow')

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tpl2=(10,20,5,15)
minimum=tpl2[0]
for i in range(1,len(tpl2)):
  if tpl2[i]<minimum:
    minimum=tpl2[i]
print(minimum)

#or
print(min(tpl2))

5
5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animal=('dog','cat','rabbit')
print(animal.index("cat"))

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruit=("mango","apple","kiwi")
print("kiwi" in fruit)

True

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set_data=set(map(str,input("enter the alphabhet with space separted").split()))
print(set_data)

enter the alphabhet with space separteda b c
{'b', 'c', 'a'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

new_set={1,2,3,4,5}
new_set.clear()
print(new_set)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

x={1,2,3,4}
x.remove(4)
print(x)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1={1,2,3}
set2={3,4,5}
print(set1 | set2)

#or

print(set1.union(set2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
print(set1 & set2)

#or

print(set1.intersection(set2))

{2, 3}
{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

data=["name","age","city"]
dict1=dict.fromkeys(data)
print(dict1)

{'name': None, 'age': None, 'city': None}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict2={'name':'John','age':25}
dict2["country"]="USA"
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict3={'name': 'Alice', 'age': 30}
print(dict3['name'])

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict4={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4.pop('age')
print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict5={'name': 'Alice', 'city': 'Paris'}
print("city" in dict5.keys())

True

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

list_data=[7,8,9]
tuple_data=(3,6,7)
dictionary_data={'a':2,'b':5}
print(list_data)
print(tuple_data)
print(dictionary_data)

[7, 8, 9]
(3, 6, 7)
{'a': 2, 'b': 5}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced).

import random

sort_list=[random.randint(1,100) for i in range(5)]
sort_list.sort()
print(sort_list)

[5, 20, 20, 22, 80]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.

lst_data=list(map(str,input("enter the string with space separated").split()))
print(lst_data[3])

enter the string with space separatedhello how are you
you

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
a={"a":1,"b":2}
b={"x":50,"y":55}
c={**a,**b}
print(c)

{'a': 1, 'b': 2, 'x': 50, 'y': 55}

In [ ]:
#30. Write a code to convert a list of strings into a set.

string_list=["amit","sumit","anita","akhil","amit"]
string_set=set(string_list)
print(string_set)

{'anita', 'akhil', 'amit', 'sumit'}